body {
    font-family: Arial;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    background: #222;
    color: white;
    padding: 15px;
}

/* Added dot for class selector and semicolon */
.product {
    background: white;
    width: 250px;
    margin: 30px auto;
    padding: 15px;
    border-radius: 10px;
}

/* Added dot for class selector */
.product img {
    width: 100%;
    border-radius: 10px;
}

button {
    background: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}